<%- model_class = Dispute -%>

<h2><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h2>
<hr/>

<%= render :partial => 'form' %>
